@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  color-scheme: dark; 
}

html, body, #root {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: radial-gradient(
    1200px 600px at 10% 10%,
    #0e1030,
    #070817
  );
}
